<form [formGroup]="skillsForm" (ngSubmit)="onSubmit()">
 
  <div class="mb-3">
    <div class="form-group">

    <label for="name" class="form-label"> Name</label>
    <input  type="text" class="form-control" id="name" name="name" formControlName="name" placeholder="Enter Your Name" required >
    </div>
    <span class="text-danger"
    *ngIf="(registerFormControl.name.touched || submitted) && registerFormControl.name.errors?.required">
    Name is required
</span>
  </div>

  <div class="mb-3">
    <div class="form-group">
    <label for="rollno" class="form-label"> Rollno</label>
    <input type="text" class="form-control" id="rollno" name="rollno" formControlName="rollno" placeholder="Enter Your RollNo" required>
  </div>
  <span class="text-danger"
    *ngIf="(registerFormControl.rollno.touched || submitted) && registerFormControl.rollno.errors?.required">
    RollNo is required
</span>
</div>

  <div class="mb-3">
    <div class="form-group">
    <label for="address" class="form-label"> Address</label>
    <input type="text" class="form-control" id="address" name="address" formControlName="address" placeholder="Enter Your Address" required>
  </div>
  <span class="text-danger"
  *ngIf="(registerFormControl.address.touched || submitted) && registerFormControl.address.errors?.required">
  Address is required
</span>
  </div>
 
  <div class="mb-3">
    <label for="skill" class="form-label"> Skills:</label>
  <div formArrayName="skills">
    <div *ngFor="let skill of skills.controls; let i=index">
      <div [formGroupName]="i">
        skill name :
        <input class="form-control" type="text" formControlName="skill" placeholder="Enter Your Skill"  required>
        Experience:
        <input class="form-control" type="text" formControlName="exp" placeholder="Enter Your Experience in skill" required>
 
        <button (click)="removeSkill(i)">Remove</button>
      </div>
    </div>
  </div>
  </div>
  <p>
    <button type="button" class="btn btn-primary"  (click)="addSkills()">Add Skill</button>
  </p>
 
  <p>
    <button type="submit" class="btn btn-primary">Submit</button>
  </p>
 
</form>
 
{{this.skillsForm.value | json}}
 