<p>customer-list-presetation works!</p>
<div class="container custom-container-2">
<!-- <button class="btn btn-outline-danger m-1" data-toggle="tooltip" data-placement="right" title="add" routerLink='add'>
    Add Customer
  </button> -->
  <div class="col-md-12">
  <table class="table table-bordered">
      <thead class="thead-light">
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">salary</th>
        <th scope="col"> Greater Salary</th>
        <th scope="col">Action</th>
      </thead>
      <tbody>
    
        <tr *ngFor="let customerListItem of customerList">
          <td>{{customerListItem.id}}</td>
          <td>{{customerListItem.name}}</td>
          <td>{{customerListItem.salary}}</td> 
          <td>{{customerListItem.salary >= 10000  ? 'True' : 'False'}} </td>
          
          <td class="text-center">
            <!-- <button class="btn btn-outline-primary m-1" data-toggle="tooltip" data-placement="right" title="Edit" [routerLink]="['/product/edit/']+customer.id">
              edit
            </button> -->
    
            <button class="btn btn-outline-danger m-1" data-toggle="tooltip" data-placement="right" title="Delete" (click)="deleteCustomer(customerListItem.id)">
              delete
            </button>
            
          </td>
        </tr>
    
      </tbody>
    </table>
  </div>
  </div>